[push]
	default = upstream
[user]
	name = Ania
	email = ania@codequest.com
[color]
	ui = auto
[credential]
	helper = osxkeychain
[github]
	user = AniaCodequest
[diff]
	submodule = log
[column]
	ui = auto,dense
[core]
        excludesfile = /Users/ania-codequest/.gitignore_global
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path =
[mergetool "sourcetree"]
        cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
